In [1]:
import pandas as pd
data = pd.read_csv("SPAM text message.csv")

In [2]:
data

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [3]:
data['class'] = data['Category'].apply(lambda x: 0 if x=='ham' else 1)

In [4]:
data.head(10)

The history saving thread hit an unexpected error (OperationalError('disk I/O error',)).History will not be written to the database.

  Category                                            Message  class
0      ham  Go until jurong point, crazy.. Available only ...      0
1      ham                      Ok lar... Joking wif u oni...      0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...      1
3      ham  U dun say so early hor... U c already then say...      0
4      ham  Nah I don't think he goes to usf, he lives aro...      0
5     spam  FreeMsg Hey there darling it's been 3 week's n...      1
6      ham  Even my brother is not like to speak with me. ...      0
7      ham  As per your request 'Melle Melle (Oru Minnamin...      0
8     spam  WINNER!! As a valued network customer you have...      1
9     spam  Had your mobile 11 months or more? U R entitle...      1

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data['Message'], data['class'], test_size=0.3, random_state=1)
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X_train_cv = cv.fit_transform(X_train)
X_test_cv = cv.transform(X_test)

In [6]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(X_train_cv, y_train)
predictions = naive_bayes.predict(X_test_cv)

In [7]:
from sklearn.metrics import accuracy_score, precision_score, recall_score
print('Accuracy score: ', accuracy_score(y_test, predictions))
print('precision score: ', precision_score(y_test, predictions))
print('recall score is ',recall_score(y_test, predictions))

Accuracy score:  0.9868421052631579
precision score:  0.9727272727272728
recall score is  0.9304347826086956

In [ ]:
print(" NEW DATA \n")

while True:
    print("\n")
    i=input('enter Message : ')
    if i == 'exit':
     break
    else:
     new=[i]
     n=cv.transform(new)
     predict=naive_bayes.predict(n)
     print("new data predicted value")
     if predict == 1:
          print( i +"===============spam")
     else:
          print( i +"===============ham")

 NEW DATA



enter Message : hello
new data predicted value
hello===============ham


enter Message : Free entry in 2 a wkly comp to win FA Cup
new data predicted value
Free entry in 2 a wkly comp to win FA Cup===============spam


enter Message : ok
new data predicted value
ok===============ham